.idea/
*.suo
*.user
[Bb]in/
[Oo]bj/
build/
cmake-build-*/
sdkconfig.ci
sdkconfig.old
CMakeFiles/
CMakeCache.txt
scratchpad_c
!scratchpad_c/
cmake_install.cmake
Makefile
.ninja*
.cmake
Testing/
build.ninja
